<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.title %}
      {{ site.title }} — {{ page.title }}
    {% else %}
      {{ site.title }} | Rugby Data Analytics
    {% endif %}
</title>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%s' }}">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
<script defer src="https://cloud.umami.is/script.js" data-website-id="8c3159b0-da7c-44e9-b95e-0994d995397f"></script>